<div class="page-content">
    <div class="page-info-wrapper">
        @Html.Partial("_IntroductionSummaryPartial")
    </div>
    <div class="product-info-wrapper">
        @Html.Partial("_SkillsSummaryPartial")
    </div>
    <div class="product-info-wrapper row">
        @Html.Partial("_ExperienceSummaryPartial")
        @Html.Partial("_EducationSummaryPartial")
    </div>
    <div class="product-info-wrapper">
        @Html.Partial("_AwardsSummaryPartial")
    </div>
    <div class="product-info-wrapper">
        @Html.Partial("_ContactSummaryPartial")
        @Html.Partial("_ProjectSummaryPartial")
    </div>
</div>
